<h2>Recent Posts</h2>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag 'http://placekitten.com/500/410', class: 'img-responsive img-thumbnail' %>
    </div>
    <div class="col-md-10">
      <h3><%= link_to post.title, post %></h3>
      <p class="text-muted"><small><%= post.created_at.in_time_zone('Sydney').strftime("%d/%m/%Y at %l:%M %p") %></small></p>
      <p class="lead"><%= post.body %></p>
    </div>
  </div>
<% end %>
